.btn {
    font-size: 1.6rem;
    &.btn-primary {
        background: $base-color;
        border-color: $base-color;
        &:hover{
            background-color: $secondary-hover;
            border-color: $secondary-hover;
        }
    }
    &.btn-secondary {
        background: $secondary-color;
        border-color: $secondary-color;
        &:hover{
            background-color: $secondary-hover;
            border-color: $secondary-hover;
        }
    }
}